.homeBody {
  height: 90vh;
  width: 100vw;

  background: radial-gradient(
    circle,
    rgba(45, 45, 48, 1) 0%,
    rgba(7, 7, 10, 1) 55%
  );

  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;

  justify-content: space-around;
  align-items: center;
}

.homeBG{
  height: 90vh;
  z-index: 0;
  position: absolute;
}

.torches {
  height: 90vh;

  display: flex;

  justify-content: center;
  align-items: end;
}

.torches img {
  height: 50vh;
}

.startButton{
  height: 10vh;
  z-index: 1;
  cursor: pointer;
}
.startButton img{
  height: 10vh;

}