.gameBody {
  height: 90vh;
  width: 100vw;

  background: radial-gradient(
    circle,
    rgba(45, 45, 48, 1) 0%,
    rgba(7, 7, 10, 1) 55%
  );

  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;

  justify-content: space-around;
  align-items: center;
}


/* Character selection menu */
.chooseCharacter {
  height: 70vh;

  display: flex;
  flex-direction: column;

  background: rgba(82, 87, 92, 0.75);
  border-radius: 1em;
  color: white;

  overflow: auto;
  overflow-y: hidden;
}
.chooseCharacter p{
  margin-right: 3vw;
  margin-left: 3vw;
}

.characterSelection {
  height: 65vh;
  width: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background: rgba(82, 87, 92, 0.75);
  border-radius: 1em;
  color: white;

  overflow: auto;
  overflow-y: hidden;
}

.charaSelectionContainer {
  height: 65vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.charaSelectionContainer2 {
  height: 50vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  cursor: pointer;
}

.charaSelectionContainer2 img {
  height: 50vh;
}

.charaSelectionContainer3 {
  height: 8vh;

  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}

.createCharaButton {
  height: 10vh;
  width: 10vh;

  margin-right: 3vw;
  margin-left: 3vw;

  cursor: pointer;
}

/* Current character display */
.charaSection {
  height: 90vh;
  width: 25vw;

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.playerData {
  height: 50vh;
  width: 25vw;

  display: flex;

  background: rgba(82, 87, 92, 0.75);
  border-radius: 1em;
  color: white;
}

.playerDataContainer {
  height: 50vh;
  width: 25vw;

  display: flex;
  flex-direction: row;
}
.playerDataContainer2 {
  height: 50vh;
  width: 15vw;

  display: flex;
  justify-content: center;
  align-items: center;
}
.playerDataContainer2 img {
  width: 15vw;
}
.playerDataContainer3 {
  height: 50vh;
  width: 10vw;

  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;

  margin-top: 5vh;
}

/* Map display */
.mapContainer {
  height: 35vh;
  width: 20vw;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(82, 87, 92, 0.75);
  border-radius: 1em;
  color: white;
}

.mapData {
  height: 35vh;
  width: 35vh;

  background: black;
}


/* Game display and buttons */
.gameSection {
  height: 90vh;
  width: 50vw;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.turnCounter{
  height: 10vh;
  width: 50vw;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-family: hardinge;
  font-size: 1.5em;
}

.upArrow{
  height: 10vh;
  width: 50vw;

  display: flex;
  align-items: center;
  justify-content: center;
}
.upArrow img{
  height: 10vh;
}

.middleSection{
  height: 60vh;
  width: 50vw;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.leftArrow{
  height: 60vh;
  width: 10vw;

  display: flex;
  align-items: center;
  justify-content: end;
}

.leftArrow img{
  width: 10vh;
}

.gameScreen{
  height: 60vh;
  width: 60vh;
  background-color: black;
}

.rightArrow{
  height: 60vh;
  width: 10vw;

  display: flex;
  align-items: center;
  justify-content: start;
}

.rightArrow img{
  width: 10vh;
}

.downArrow{
  height: 10vh;
  width: 50vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

.downArrow img{
  height: 10vh;
}

/* Items display and description */
.itemSection {
  height: 90vh;
  width: 25vw;

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.inventoryContainer {
  height: 50vh;
  width: 25vw;

  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;

  background: rgba(82, 87, 92, 0.75);
  border-radius: 1em;
  color: white;
}

.itemDisplay {
  height: 40vh;
  width: 22vw;

  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: row;
}

.itemDescription {
  height: 35vh;
  width: 25vw;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(82, 87, 92, 0.75);
  border-radius: 1em;
  color: white;
}
