.gameBody {
    height: 90vh;
    width: 100vw;
  
    background: radial-gradient(
      circle,
      rgba(45, 45, 48, 1) 0%,
      rgba(7, 7, 10, 1) 55%
    );
  
    margin: 0;
    padding: 0;
  
    display: flex;
    flex-direction: row;
  
    justify-content: space-around;
    align-items: center;
  }

.charaSection{
  height: 90vh;
  width: 25vw;
}

.playerData{
  height: 50vh;
  width: 25vw;

  display: flex;

  background: rgba(82,87,92,0.75);
  border-radius: 1em;
  color: white;
}

.playerDataContainer{
  height: 50vh;
  width: 25vw;

  display: flex;
  flex-direction: row;
}
.playerDataContainer2{
  height: 50vh;
  width: 15vw;

  display: flex;
  justify-content: center;
  align-items: center;
}
.playerDataContainer2 img{
  width: 15vw;
}
.playerDataContainer3{
  height: 50vh;
  width: 10vw;

  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.mapContainer{
  height: 35vh;
  width: 35vh;

  display: flex;

  background: rgba(82,87,92,0.75);
  border-radius: 1em;
  color: white;
}


.gameSection{
  height: 90vh;
  width: 50vw;
  background-color: blue;
}

.itemSection{
  height: 90vh;
  width: 25vw;
  background-color: red;
}